body{margin:0;}
.logo{margin:0;padding-left:200px;font-size:35px;float:left;box-sizing:border-box;height:50px;}
.tab-area{font-size: 0;float:right;padding-right:200px;}
.tab{width:150px;margin:0 0 0 5px;display:inline-block;color:#fff;background:#aaa;text-align:center;font-size:15px;cursor:pointer;height:50px;box-sizing:border-box;}
.tab:hover{opacity:0.5}
.tab p{height: 20px;}
.panel-area{clear:both;background-color: #eee;padding:0 200px;}
.panel{display: none;}
.active{background:#eee;color:#000;}
.show{display:block;}
.build{margin: 0 auto;width: 100%;height: 500px;object-fit: cover;display: block;}
.build1{object-position:0 75%;}
.build2{object-position: center;;}
.build3{object-position: 0 95%;}
.box{display: flex;flex-wrap: wrap;text-align: center;justify-content:space-around;}
.contents{margin: 10px 5px 0 5px;width: 300px;background-color: #eee;}
.contents img{width: 100%;border-radius: 10px;box-shadow:0 0 0 1px #aaa;}
.contents p{margin: 5px 0;}
form p,h1{margin:0;}
